.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    width: 100%;
}

.navbar.shadowed {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.nav-items {
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item a {
    color: #364be3;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
    .nav-items {
        display: none;
    }
}