.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 1%;
    z-index: 5000;
}

.nav-items {
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}